.sidebar__addSprintForm_box {
  position: absolute;
  bottom: 50px;
  left: 10%;

  @media screen and (max-width: 767px) {
    position: static;
  }
}

.sidebar__addSprintFormBtn_box {
  display: flex;
  padding-left: 40px;
}

.sidebar__addSprintForm_title {
  margin-top: 15px;
  text-align: center;
  white-space: nowrap;
}
