@import '../../../styles/shared.scss';

.sprint-item {
  position: relative;
  width: 270px;
  height: 224px;
  background-color: $white;
  box-shadow: $shadow-primary;
  border-radius: 5px;
}

.sprint-item__title {
  letter-spacing: 0.04em;

  padding-top: 18px;
  padding-left: 30px;
  padding-right: 30px;
}

.sprint-item__details {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
}

.sprint-item__details-elem:not(:first-child) {
  padding-top: 20px;
}
.sprint-item__details-elem {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
}
.sprint-item__button {
  content: '';
  position: absolute;

  bottom: 10px;
  right: 10px;
}
