@import 'styles/shared.scss';

.sprint-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: 30px;

  justify-content: flex-start;
  grid-gap: 10px;

  @media screen and (min-width: 768px) {
    grid-gap: 20px;
  }
  @media screen and (min-width: 1280px) {
    grid-gap: 30px;
  }
}
