// General colors
$accent: #ff6b08;
$white: #ffffff;
$black: #000000;
$card-1: #8c72df;
$card-2: #ff765f;
$card-3: #71df87;
$card-wave-primary: rgba(255, 255, 255, 0.2);
$card-wave-secondary: rgba(255, 255, 255, 0.3);
$primary-bg: #f1f2f7;
$form-bg: #fafafa;
$calendar-bg: rgba(255, 255, 255, 0.7);
$logout-bg-mobile: #a6a6a6;

// Lines, borders
$border-input: rgba(24, 28, 39, 0.2);
$border-header: rgba(24, 28, 39, 0.1);

// Text
$text-primary: #181c27;
$text-secondary: rgba(24, 28, 39, 0.6);
$text-error: #ff2c0c;
$text-calendar-title: #1b1c20;

// Box-shadows
$shadow-primary: 0px 6px 26px rgba(0, 5, 97, 0.1);
$shadow-secondary: 0px 3px 4px rgba(255, 107, 8, 0.3);
