%input {
  width: 280px;
  height: 29px;
  padding-bottom: 9px;
  border: none;
  outline: none;
  border-bottom: 1px solid $border-input;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: $text-primary;

  background-color: transparent;
  transition: all 250ms ease-in-out;

  &:hover,
  &:focus {
    border-bottom: 1px solid $accent;
  }

  @media screen and (min-width: 768px) {
    width: 429px;
    height: 30px;
    font-size: 18px;
    line-height: 1.222;
  }
}
