.add__sprint-form {
  position: absolute;
  bottom: 20px;
  right: 20px;
  // display: flex;
  // align-items: center;
  // padding-top: 40px;
  @media screen and (min-width: 768px) {
    top: 120px;
    right: 40px;
  }
  @media screen and (min-width: 1280px) {
    right: 280px;
    // display: block;
    // padding-right: 0px;
    // justify-content: flex-end;
    // width: -webkit-fill-available;
  }
  // padding-right: 85px;
}

.add__sprint-button__name {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;

  padding-top: 11px;
  margin-left: 20px;

  @media screen and (max-width: 1280px) {
    display: none;
  }
}
