.add__sprint-form {
  display: flex;
  // align-items: center;
  padding-top: 40px;
  padding-right: 85px;
}

.add__sprint-button__name {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;

  padding-top: 11px;
  margin-left: 20px;
}
