@import 'styles/shared.scss';

.project_item {
  position: relative;

  width: calc(100% / 2 - 10px);
  height: 136px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
  transition: all 0.25s linear;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: calc(100% / 3 - 20px);
    background-image: url(../../../assets/images/project-card/wave-1.svg),
      url(../../../assets/images/project-card/wave-2.svg);
    background-position: right bottom;
    background-size: auto;
    background-repeat: no-repeat;

    height: 216px;
    margin-left: 20px;
    margin-top: 20px;
  }

  @media screen and (min-width: 1280px) {
    width: calc(100% / 4 - 30px);
    height: 270px;
    margin-left: 30px;
    margin-top: 30px;
  }
}

.project_item:nth-child(3n + 1) {
  background-color: $card-1;
}
.project_item:nth-child(3n + 2) {
  background-color: $card-2;
}
.project_item:nth-child(3n + 3) {
  background-color: $card-3;
}

.project_item:nth-child(3n + 1):hover {
  box-shadow: 1px 6px 10px $card-1;
}

.project_item:nth-child(3n + 2):hover {
  box-shadow: 1px 6px 10px $card-2;
}

.project_item:nth-child(3n + 3):hover {
  box-shadow: 1px 6px 10px $card-3;
}

.project_link {
  display: block;
  height: 100%;
  padding: 10px;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    padding: 20px;
  }
  @media screen and (min-width: 1280px) {
    padding: 30px;
  }
}

.project_title {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.25;
  color: $white;
  word-break: break-all; /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */

  // overflow-wrap: break-word; /* не поддерживает IE, Firefox; является копией word-wrap */
  // word-wrap: break-word;
  // line-break: normal; /* нет поддержки для русского языка */
  // -webkit-hyphens: auto;
  // ​-ms-hyphens: auto;
  // hyphens: auto; /* значение auto не поддерживается Chrome */
  // ​width: 50%;

  @media screen and (min-width: 768px) {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.23;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
  }
}

.project_desc {
  font-size: 10px;
  word-break: break-all;
  line-height: 1.21;
  color: $white;

  opacity: 0;
  // transform: translateX(-100%);
  transform: scale(0);
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);

  .project_item :hover & {
    opacity: 1;
    transform: scale(1);
    // transform: translateX(0);
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.project_link .delete-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
