.project__details {
  display: flex;
  justify-content: space-between;
}

.project__details-section {
  padding-top: 30px;
  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-left: 20px;
  }
  @media screen and (min-width: 1280px) {
    width: -webkit-fill-available;

    padding-right: 30px;
    padding-left: 70px;
  }
}

.project__details-form {
  display: flex;
}
