@import 'styles/shared.scss';

.project__details-add__ember-form {
  // padding-left: 70px;
}
.project__details-add__ember-link {
  padding-left: 40px;

  color: $black;
  &:hover {
    fill: $accent;
    color: $accent;
  }
}

.project__details-add__ember {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
}

.project__details-add__ember-icon {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: -40px;
}
