.project__title-details__text {
  margin-top: 20px;
  margin-bottom: 30px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.22;
    width: 400px;
  }
}
