@import 'styles/shared.scss';

.sidebar-wrapper {
  display: none;

  @media screen and(min-width: 768px) {
    display: block;
    position: sticky;

    width: 155px;
    border-right: 1px solid $border-header;
    height: 100vh;
  }
}
