@import 'styles/shared.scss';

.sprintsList {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    padding: 20px 0;
    width: 452px;
    gap: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 869px;
    padding: 20px 0;
  }
}

.empty_title {
  color: gray;
  opacity: 0.5;
  padding-top: 10px;
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
    font-size: 36px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 30px;
  }
}
